/* ----------------------------------------------------------- */
/* == Translate input part module */
/* ----------------------------------------------------------- */

.translateOutput__code pre:not(:empty) {
  padding: 2rem;
  border-radius: .3rem;
  background-color: #ededed;
  overflow-x: auto;
}
