/* ----------------------------------------------------------- */
/* == rwd -> medium */
/* ----------------------------------------------------------- */

@media (max-width: @medium) {
  /* Input / Output layout
  -------------------------------------------------------------- */

  .main__grid {
    flex-direction: column;
    width: 100%;
  }

  .main__splitItem {
    width: 100%;
  }

  .translateInput__input {
    width: 100%;
  }

  .translateOutput {
    padding-bottom: 1.5rem;
    padding-left: 0;
    border-left: none;
  }
}
